
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------------------------------------------------- C O L O R  T H E M E S ----------------------------------------------*/


:root {
  --light_background : #F3F8F2;
  --light_accent : #6A994E;
  --light_text : #5D576B;

  --dark_background : #00001B;
  --dark_accent : #00003A;
  --dark_accent2 : #E34A6F;
  --dark_text : #34E5FF;
}

/*---------------------------------------------------- G E N E R A L ----------------------------------------------*/


body {
  font-family: Poppins;
  color: var(--dark_text);
  margin: 0;
  padding: 0;
  background-color: var(--dark_background);
}

h2 {
  text-align: center;
  font-size: 50px;
}

/*---------------------------------------------------- A C C U E I L ----------------------------------------------*/

#accueil {
  text-align: center;
  border: 3px solid red;
}

#accueil h1 {
  font-size: 60px;
}

#accueil b {
  color: var(--dark_accent2);
}

/*---------------------------------------------------- N A V I G A T I O N ----------------------------------------*/

.navigation h2 {
  font-size: 26px
}

.navigation ul{
  /*border: 5px solid gray;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: baseline;
  list-style-type: none;
}

.navigation li {
  text-align: center;
  background-color: var(--dark_accent);
  border: 3px solid var(--dark_accent2);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 250px;
}

/*---------------------------------------------------- P R O J E T S -----------------------------------------*/

#projets {
  border: 3px solid blue;
}

#projets ul{
  border: 5px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  list-style-type: none;
}

#projets li {
  background-color: var(--dark_accent);
  border: 3px solid var(--dark_accent2);
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 250px;
  margin: 10px;
  
}

#projets a:link {
  color: var(--dark_accent2);
}

/* visited link */
#projets a:visited {
  color: var(--light_text);
}

/* mouse over link */
#projets a:hover {
  color: var(--dark_text);
}

/* selected link */
#projets a:active {
  color: red;
}

/*---------------------------------------------------- C O M P E T E N C E S -------------------------------------*/

#competences h3 {
  text-align: center;
  font-size: 36px;
}

#competences ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 30px;
}

#competences li {
  border: 3px solid var(--dark_accent2);
  border-radius: 10px;
  background-color: var(--dark_accent);
  text-align: center;
  width: 150px;
  height: 150px;
}

/*---------------------------------------------------- C O N T A C T ---------------------------------------------*/

#contact h3 {
  text-align: center;
  font-size: 36px;
}

#contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 30px;
}

#contact li {
  border: 3px solid var(--dark_accent2);
  border-radius: 10px;
  background-color: var(--dark_accent);
  text-align: center;
  width: 250px;
  height: 200px;
}

#contact a:link {
  color: var(--dark_accent2);
}

/* visited link */
#contact a:visited {
  color: var(--light_text);
}

/* mouse over link */
#contact a:hover {
  color: var(--dark_text);
}

/* selected link */
#contact a:active {
  color: red;
}
