
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --light_background : #F3F8F2;
  --light_accent : #6A994E;
  --light_text : #5D576B;

  --dark_background : #00001B;
  --dark_accent : #00003A;
  --dark_accent2 : #E34A6F;
  --dark_text : #34E5FF;
}

body {
  font-family: Poppins;
  color: var(--dark_text);
  margin: 0;
  padding: 0;
  background-color: var(--dark_background);
}

#accueil {
  text-align: center;
  border: 3px solid red;
}

#accueil h1 {
  font-size: 60px;
}

#accueil b {
  color: var(--dark_accent2);
}

.navigation ul{
  /*border: 5px solid gray;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: baseline;
  list-style-type: none;
}

.navigation li {
  text-align: center;
  background-color: var(--dark_accent);
  border: 3px solid var(--dark_accent2);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 250px;
}

#projets {
  border: 3px solid blue;
  padding: 50px;
}

#projets ul{
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

#projets li {
  background-color: var(--dark_accent);
  border: 3px solid var(--dark_accent2);
  text-align: center;
  width: 200px;
  height: 250px;
  margin: 10px;
}