/*THEME*/
:root {
    --background: #273043;
    --text: #EFF6EE;
    --text-background: #9197AE;
    --text-plus: #F02D3A;
    --font: 'Figtree'
}

/*GLOBAL SETTINGS*/
body {
    font-family: var(--font);
    background-color: var(--background);
}


/*------------------------------------------------------------- H E A D E R -------------------------------------------*/
.header {
    /*BOX MODEL*/
    padding: 150px;
    margin: 10px;
    color: var(--text);
}

.header h1 {
    font-size: 92px;
    margin-bottom: 15px;
    text-shadow: 3px 2px var(--text-background);
}

.header p {
    font-size: 46px;
}

.header hr {
    width: 600px;
    margin-left: 0px;
    border: 1px solid var(--text-plus);
}

.header ul {
    margin-left: 0px;
    list-style-type: none;
    display: flex;
    justify-content:flex-start;
}

.header li {
    margin-right: 50px;
}